.sortable {
    cursor: pointer;
    color: #dd5;
    }
    .warning {
    background-color: #da8a8a;
    }
    table {
    color: black;
    border-radius: 5px;
    overflow: hidden;
    margin: 12px 0;
    min-width: 300px;
    background: #ffc9d2;
    }
    .header-row {
    background: black;
    color: #c9ddff;
    }
    th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
    }